.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__pWuTb {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 63px;
  padding-right: 32px;
  padding-left: 32px;
  background: linear-gradient(#ffffff80, #ffffff80), #ffffff;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__pWuTb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__pWuTb > :global(.__wab_flex-container) > *,
.freeBox__pWuTb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pWuTb > :global(.__wab_flex-container) > picture > img,
.freeBox__pWuTb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pWuTb {
    padding-top: 16px;
  }
}
.freeBox__v0ViJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 1080px;
  height: auto;
  max-width: 100%;
  align-self: center;
  padding: 8px;
}
.freeBox__b1Hz3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__wVh15 {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  flex-shrink: 0;
}
.img__wVh15 > picture > img {
  object-fit: cover;
}
.text__ew96M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: var(--token-BwOcdtoxJOlu);
  padding-left: 8px;
  min-width: 0;
}
.freeBox__j4PlU {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-right: 48px;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j4PlU {
    display: none;
  }
}
.text__bOrTc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__e8Olu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LqpCVPPZF4_r);
  min-width: 0;
}
.freeBox__v44Qg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__v44Qg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: calc(0px - var(--token-UEz8jpx4ZeEk));
  width: calc(100% + var(--token-UEz8jpx4ZeEk));
}
.freeBox__v44Qg > :global(.__wab_flex-container) > *,
.freeBox__v44Qg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v44Qg > :global(.__wab_flex-container) > picture > img,
.freeBox__v44Qg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-UEz8jpx4ZeEk);
}
.button2__mk1Xe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2__mk1Xe:global(.__wab_instance) {
    display: none;
  }
}
.svg__rg31Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vLcf8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.foreground {
  display: flex;
  position: relative;
  max-width: 1080px;
  align-self: center;
  padding-top: 64px;
  padding-bottom: 0px;
}
.foreground > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
    max-width: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__fYlxc {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 24px;
}
.freeBox__fYlxc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fYlxc > :global(.__wab_flex-container) > *,
.freeBox__fYlxc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fYlxc > :global(.__wab_flex-container) > picture > img,
.freeBox__fYlxc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fYlxc {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fYlxc > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__b1Wn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__b1Wn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__b1Wn > :global(.__wab_flex-container) > *,
.freeBox__b1Wn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b1Wn > :global(.__wab_flex-container) > picture > img,
.freeBox__b1Wn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qsweh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__vxfIa {
  color: #05050599;
  background: var(--token-47ovROB-Xr2C);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 20px;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vxfIa {
    font-size: 14px;
  }
}
.text__b4F {
  font-size: var(--token-JXjMwQH3ye5t);
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  padding-bottom: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b4F {
    font-size: var(--token-EBGyLHrpfttb);
  }
}
.text__el6Gq {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__el6Gq {
    font-size: var(--token-hYndcje43OGL);
  }
}
.freeBox__yltlN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__meW5Y {
  font-size: 14px;
  color: #05050599;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 8px;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__meW5Y {
    font-size: 13px;
  }
}
.freeBox__yBt1L {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.freeBox__yBt1L > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yBt1L > :global(.__wab_flex-container) > *,
.freeBox__yBt1L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yBt1L > :global(.__wab_flex-container) > picture > img,
.freeBox__yBt1L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yBt1L {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yBt1L > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yBt1L > :global(.__wab_flex-container) > *,
  .freeBox__yBt1L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yBt1L > :global(.__wab_flex-container) > picture > img,
  .freeBox__yBt1L
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
  width: 326px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput:global(.__wab_instance) {
    width: 100%;
    height: 48px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__kGfg4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cdQtw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__wDBwQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bFWh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vethI {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__drgDi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.message {
  font-size: 14px;
  color: var(--token-sn6Zb6km7CqW);
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 8px;
  padding-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
}
.error {
  font-size: 14px;
  color: var(--token--ypw6enySR1T);
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 8px;
  padding-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
}
.img__p3UD6 {
  position: relative;
  object-fit: cover;
  max-width: 350px;
  width: 50%;
  height: 355px;
  object-position: center center;
  transform: skewX(0deg) skewY(0deg);
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}
.img__p3UD6 > picture > img {
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__p3UD6 {
    width: 100%;
    height: 220px;
    max-width: auto;
    align-self: center;
    min-width: 0;
    flex-shrink: 0;
  }
}
.freeBox__pv1Up {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1080px;
  align-self: center;
  background: none;
  margin-top: calc(64px + 64px) !important;
  margin-right: 8px;
  margin-bottom: 0px;
  margin-left: 8px;
  min-width: 0;
  border-radius: 15px;
  padding: 24px 24px 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pv1Up {
    max-width: auto;
    width: 100%;
    margin-top: calc(48px + 64px) !important;
    min-width: 0;
    padding: 0px;
  }
}
.text__ilnxr {
  color: #007aff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 0px;
}
.text___1TYvh {
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  text-align: center;
  color: #05050599;
  font-size: 12px;
  background: none;
  padding-bottom: 8px;
  padding-left: 8px;
  font-weight: 600;
  padding-top: 8px;
  border-radius: 15px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 1080px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  min-width: 0;
  padding: 8px 8px 16px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__nT0N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__fC4Rf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fC4Rf {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.freeBox___82Akp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3___9CYcS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-pRs3-4jrQ4XQ);
  padding-right: 0px;
}
.text___8ANge {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-bottom: 2px;
  font-size: 14px;
  color: var(--token-pRs3-4jrQ4XQ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8ANge {
    padding: 3px;
  }
}
.text__vqms7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.column__pjj66 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__oWwbE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kWszc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__nl4UT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-pRs3-4jrQ4XQ);
}
.text__gd3Pn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.column__e850K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ww8Pi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__y76X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3___62XNv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-pRs3-4jrQ4XQ);
}
.text___8PFlt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.column__okqWe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__bA7B7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__n1Swl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__e0GfX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-pRs3-4jrQ4XQ);
}
.text__q5WPa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 1080px;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  align-self: center;
  color: var(--token-pRs3-4jrQ4XQ);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    width: 100%;
    max-width: auto;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__sHlHy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___6P0O6 {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img___6P0O6 > picture > img {
  object-fit: cover;
}
.freeBox___8KGn6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__tQGi {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__tQGi > picture > img {
  object-fit: cover;
}
.freeBox__slBq0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__n0Dc9 {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__n0Dc9 > picture > img {
  object-fit: cover;
}
.freeBox___2RUq2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__qcQpY {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__qcQpY > picture > img {
  object-fit: cover;
}
.freeBox__lNep3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__dqJ2B {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__dqJ2B > picture > img {
  object-fit: cover;
}
.freeBox__ct7E1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___2W4Hn {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img___2W4Hn > picture > img {
  object-fit: cover;
}
.freeBox__qta7C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__teJuy {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__teJuy > picture > img {
  object-fit: cover;
}
.freeBox__mbToM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___2BHAo {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img___2BHAo > picture > img {
  object-fit: cover;
}
.freeBox__eiMr4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__hGsYw {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__hGsYw > picture > img {
  object-fit: cover;
}
.freeBox__d6El9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__hDdrH {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__hDdrH > picture > img {
  object-fit: cover;
}
.freeBox__euctx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___8Adzs {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img___8Adzs > picture > img {
  object-fit: cover;
}
.freeBox__qNts {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___9Pu5X {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img___9Pu5X > picture > img {
  object-fit: cover;
}
.freeBox__a48A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__ad59X {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__ad59X > picture > img {
  object-fit: cover;
}
.freeBox__gcakQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__tKox6 {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__tKox6 > picture > img {
  object-fit: cover;
}
.freeBox__iDe9S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__esiI5 {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__esiI5 > picture > img {
  object-fit: cover;
}
.freeBox__sNbQi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___9Nixc {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img___9Nixc > picture > img {
  object-fit: cover;
}
.freeBox__jyuH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__rDk9 {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__rDk9 > picture > img {
  object-fit: cover;
}
.freeBox__h3YMl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__pKv9Q {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__pKv9Q > picture > img {
  object-fit: cover;
}
.freeBox__afJgd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__lzoen {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__lzoen > picture > img {
  object-fit: cover;
}
.freeBox___1QE4U {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__tbO4O {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__tbO4O > picture > img {
  object-fit: cover;
}
.freeBox__h9SZr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__awqZ {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__awqZ > picture > img {
  object-fit: cover;
}
.freeBox__vGhBc {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
  padding: 64px;
}
.freeBox__vGhBc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__vGhBc > :global(.__wab_flex-container) > *,
.freeBox__vGhBc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vGhBc > :global(.__wab_flex-container) > picture > img,
.freeBox__vGhBc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vGhBc {
    max-width: auto;
    padding: 48px 0px;
  }
}
.freeBox__flte6 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
  width: 100%;
  min-width: 0;
}
.freeBox__flte6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__flte6 > :global(.__wab_flex-container) > *,
.freeBox__flte6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__flte6 > :global(.__wab_flex-container) > picture > img,
.freeBox__flte6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.foreground3 {
  display: flex;
  flex-direction: column;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground3 > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.text__cx11E {
  color: #007aff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.text__bw5Ue {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bw5Ue {
    font-size: var(--token-hYndcje43OGL);
  }
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___6NgIb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___6NgIb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___6NgIb > :global(.__wab_flex-container) > *,
.freeBox___6NgIb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6NgIb > :global(.__wab_flex-container) > picture > img,
.freeBox___6NgIb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6NgIb {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6NgIb > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - var(--token-02IfQLozsPKb));
    width: calc(100% + var(--token-02IfQLozsPKb));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6NgIb > :global(.__wab_flex-container) > *,
  .freeBox___6NgIb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6NgIb > :global(.__wab_flex-container) > picture > img,
  .freeBox___6NgIb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-02IfQLozsPKb);
    margin-top: 0px;
  }
}
.freeBox__mZNgm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__mZNgm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mZNgm > :global(.__wab_flex-container) > *,
.freeBox__mZNgm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mZNgm > :global(.__wab_flex-container) > picture > img,
.freeBox__mZNgm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mZNgm {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mZNgm > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Tf_KtjkxGdsv));
    height: calc(100% + var(--token-Tf_KtjkxGdsv));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mZNgm > :global(.__wab_flex-container) > *,
  .freeBox__mZNgm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mZNgm > :global(.__wab_flex-container) > picture > img,
  .freeBox__mZNgm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Tf_KtjkxGdsv);
  }
}
.freeBox__pQaCm {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__nJ32W {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__mvyEl {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__fP6O9 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lbbFa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lbbFa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lbbFa > :global(.__wab_flex-container) > *,
.freeBox__lbbFa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lbbFa > :global(.__wab_flex-container) > picture > img,
.freeBox__lbbFa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__gOj43 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gOj43 {
    text-align: left;
    font-size: var(--token-hYndcje43OGL);
  }
}
.text__nyKDg {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nyKDg {
    text-align: left;
    font-size: var(--token-o0Nl0Hefncwa);
  }
}
.freeBox__zeReq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__zeReq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zeReq > :global(.__wab_flex-container) > *,
.freeBox__zeReq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zeReq > :global(.__wab_flex-container) > picture > img,
.freeBox__zeReq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zeReq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zeReq > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Tf_KtjkxGdsv));
    height: calc(100% + var(--token-Tf_KtjkxGdsv));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zeReq > :global(.__wab_flex-container) > *,
  .freeBox__zeReq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zeReq > :global(.__wab_flex-container) > picture > img,
  .freeBox__zeReq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Tf_KtjkxGdsv);
  }
}
.freeBox__aXRaG {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__oydL8 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___9BfVi {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg___5Wbyv {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__vglxg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vglxg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vglxg > :global(.__wab_flex-container) > *,
.freeBox__vglxg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vglxg > :global(.__wab_flex-container) > picture > img,
.freeBox__vglxg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__s700T {
  height: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s700T {
    font-size: var(--token-hYndcje43OGL);
    text-align: left;
  }
}
.text__aFe2G {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aFe2G {
    font-size: var(--token-o0Nl0Hefncwa);
    text-align: left;
  }
}
.freeBox__sWJdA {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__sWJdA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__sWJdA > :global(.__wab_flex-container) > *,
.freeBox__sWJdA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sWJdA > :global(.__wab_flex-container) > picture > img,
.freeBox__sWJdA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sWJdA > :global(.__wab_flex-container) {
    margin-left: calc(0px - var(--token-02IfQLozsPKb));
    width: calc(100% + var(--token-02IfQLozsPKb));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sWJdA > :global(.__wab_flex-container) > *,
  .freeBox__sWJdA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sWJdA > :global(.__wab_flex-container) > picture > img,
  .freeBox__sWJdA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-02IfQLozsPKb);
    margin-top: 0px;
  }
}
.freeBox__dUkVs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__dUkVs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dUkVs > :global(.__wab_flex-container) > *,
.freeBox__dUkVs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dUkVs > :global(.__wab_flex-container) > picture > img,
.freeBox__dUkVs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dUkVs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dUkVs > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Tf_KtjkxGdsv));
    height: calc(100% + var(--token-Tf_KtjkxGdsv));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dUkVs > :global(.__wab_flex-container) > *,
  .freeBox__dUkVs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dUkVs > :global(.__wab_flex-container) > picture > img,
  .freeBox__dUkVs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Tf_KtjkxGdsv);
  }
}
.freeBox__bsNzB {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__mz2Ur {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__i7Xl0 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__zM7Xb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__bJsbf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bJsbf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bJsbf > :global(.__wab_flex-container) > *,
.freeBox__bJsbf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bJsbf > :global(.__wab_flex-container) > picture > img,
.freeBox__bJsbf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___7Un1I {
  height: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Un1I {
    font-size: var(--token-hYndcje43OGL);
  }
}
.text___8WhQd {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8WhQd {
    font-size: var(--token-o0Nl0Hefncwa);
  }
}
.freeBox__ejVya {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ejVya > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ejVya > :global(.__wab_flex-container) > *,
.freeBox__ejVya > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ejVya > :global(.__wab_flex-container) > picture > img,
.freeBox__ejVya
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ejVya {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ejVya > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Tf_KtjkxGdsv));
    height: calc(100% + var(--token-Tf_KtjkxGdsv));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ejVya > :global(.__wab_flex-container) > *,
  .freeBox__ejVya > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ejVya > :global(.__wab_flex-container) > picture > img,
  .freeBox__ejVya
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Tf_KtjkxGdsv);
  }
}
.freeBox__dv1Y {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__qk05L {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__tzfjg {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__s2WYi {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__eMcmU {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__eMcmU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__eMcmU > :global(.__wab_flex-container) > *,
.freeBox__eMcmU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eMcmU > :global(.__wab_flex-container) > picture > img,
.freeBox__eMcmU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__zWiF {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zWiF {
    font-size: var(--token-hYndcje43OGL);
  }
}
.text__lVndB {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lVndB {
    font-size: var(--token-o0Nl0Hefncwa);
  }
}
.freeBox__hmAet {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  align-self: center;
  background: var(--token-LN1YkB123lXQ);
  max-width: 1080px;
  min-width: 0;
  border-radius: 15px;
  padding: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hmAet {
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
  }
}
.h4__jgI52 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 16px;
  min-width: 0;
}
.text__etxto {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  align-self: center;
  text-align: center;
  font-size: var(--token-hYndcje43OGL);
  color: var(--token-kzT08fQBAHgz);
  min-width: 0;
}
.button2__rYXqv:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 24px;
  position: relative;
}
.svg__n4Tho {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jr1Hp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___7Hbq7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1080px;
  align-self: center;
  background: none;
  margin-bottom: 64px;
  margin-top: calc(36px + 64px) !important;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Hbq7 {
    margin-top: calc(36px + 64px) !important;
  }
}
.h4__l8Yea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 16px;
  min-width: 0;
}
.accordion:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  align-self: stretch;
  color: var(--token-cjVB4i6JVY6v);
  margin: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .accordion:global(.__wab_instance) {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.accordionItem___2JSdn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qAhr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__j7QAi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j7QAi {
    font-size: var(--token-o0Nl0Hefncwa);
  }
}
.ul {
  display: flex;
  flex-direction: column;
}
.accordionItem___2TVoe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__eUn1L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__oeCk9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oeCk9 {
    font-size: var(--token-o0Nl0Hefncwa);
  }
}
.freeBox__xTAj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__mteNb {
  position: relative;
  text-decoration-line: underline;
}
